#fontsize {
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkkhaki;
}

#result {
    color: red;
    background-color: bisque;
    width:20%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.buttonContainer{
    border-radius:2px;
    background-color: aquamarine;
    color: rgb(104, 14, 32);
    font-weight: bold;
    border: 3px solid aquamarine ;
}